body {
    height: 60vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(68, 50, 50);

    flex-direction: column;
    padding: 100px;
    gap: 10px;
}

.button-holder {
    display: flex;
    align-items: center;
    justify-content:space-between;
    gap: 300px;
}

button {
    padding: 8px 16px;
    border-radius: 8px;
    background-color: rgb(255, 255, 255);
    border: 4px solid black;
    color: rgb(24, 24, 24);
    font-size: medium;
    font-weight: 600;
    font-family: sans-serif;
}

.box-grid {
    background-color: rgb(188, 188, 188);

    border: 50px solid rgb(212, 65, 65);
    border-radius: 50px;

    max-width: 80vmin;
    aspect-ratio: 1 / 1; 
    flex: auto;

    display: flex;
    align-items: stretch;
    justify-content: space-evenly;
    gap: 1px;
    padding: 10px;

}

.column {

    flex: 1;

    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    gap: 1px;
}

.square {
    background-color: rgba(0, 0, 0, 0);
    flex: 1;
}